.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    img {
        width: 319px;
        height: 319px;
    }

    .text {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        color: var(--text-color);
    }
}